[Desktop Entry]
Type=Application
Name=Formiko
Comment=reStructuredText and MarkDown editor and live html previewer
Exec=formiko %f
Icon=formiko
Terminal=false
MimeType=text/plain;text/html;text/x-markdown;text/x-rst;application/json;text/json;
Categories=Office;WordProcessor;GNOME;GTK;
Keywords=Text;Editor;MarkDown;reStructuredText;
