include *.py
include MANIFEST.in
include README.rst
include COPYING
include AUTHORS
include ChangeLog
include cz.zeropage.Formiko.desktop
include cz.zeropage.Formiko.Vim.desktop
include formiko.rst
include formiko-vim.rst
graft icons
graft formiko/data
global-exclude *~ *.swp
