include *.py
include MANIFEST.in
include README.rst
include COPYING
include AUTHORS
include ChangeLog
include formiko.desktop
include formiko-vim.desktop
include formiko.rst
include formiko-vim.rst
graft icons
global-exclude *~ *.swp
